# Vedi https://docs.docker.com/engine/reference/builder/#dockerignore-file per i file ignorati.

# Cartella git.
/.git/
/.gitignore

# Configurazione di bundler.
/.bundle

# File d'ambiente.
/.env*

# Chiavi di default.
/config/master.key
/config/credentials/*.key

# Log e file temporanei.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# File pid, tenendo la cartella.
/tmp/pids/*
!/tmp/pids/.keep

# storage (upload di sviluppo e database SQLite).
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/.keep

# Asset.
/node_modules/
/app/assets/builds/*
!/app/assets/builds/.keep
/public/assets

# File del servizio di CI.
/.github

# File di Kamal.
/config/deploy*.yml
/.kamal

# File di sviluppo
/.devcontainer

# File di Docker
/.dockerignore
/Dockerfile*
