# Vedi https://git-scm.com/docs/gitattributes per gli attributi git.

# Lo schema del database è generato.
db/schema.rb linguist-generated

# I file di terze parti sono vendorizzati.
vendor/* linguist-vendored
config/credentials/*.yml.enc diff=rails_credentials
config/credentials.yml.enc diff=rails_credentials
