# Vedi https://help.github.com/articles/ignoring-files per i file ignorati.
#
# I file temporanei di editor e sistema operativo
# vanno nell'ignore globale di git:
# `$XDG_CONFIG_HOME/git/ignore` or `~/.config/git/ignore`

# Configurazione di bundler.
/.bundle

# File d'ambiente.
/.env*

# Log e file temporanei.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# File pid, tenendo la cartella.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# storage (upload di sviluppo e database SQLite).
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

/public/assets

# Chiavi per decifrare le credentials.
/config/*.key


/app/assets/builds/*
!/app/assets/builds/.keep

# Chiavi per decifrare le credentials.
/config/credentials/*.key

TODO.org
